.main {
  min-height: 100vh;
  padding: 15px;
}

.header {
  width: 100%;
  padding: 50px 0;
}

.container {
  width: 920px;
  margin: auto;
}

.menu {
  list-style-type: none;
}

.pullLeft {
  float: left
}

.menu li {
  float: left;
}

.routeLink{
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
  transition: border-bottom 0.3s ease-in;
}

.routeLink.active {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.routeLink:hover {
  opacity: 0.6;
  border-bottom: 1px solid rgb(221, 221, 221, 0.6);
}

.headerTools {
  padding: 15px;
  display: flex;
  gap: 0.5rem;
}

.pullRight {
  float: right;
}

.socialWrapper {
  display: block;
  background-color: #0a3477;
  cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-left: 3px;
}

.linkedin:hover {
  background-color: #0170ad
}

.instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.facebook:hover {
  background-color: #3b5998
}

.twitter:hover {
  background-color: #1da1f2
}

.github:hover {
  background-color: #000
}

.fixedWrapper {
  width: 100%;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.homepageTitle {
  width: 100%;
  position: relative;
  padding: 100px 0 0 0;
}

.profileImage {
  position: absolute;
  top: -20px;
  right: -40%;
  z-index: 400;
}

.profileName {
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
    font-size: 10rem;
    line-height: 116px;
}

.profileName span {
  display: block;
  color: rgba(252, 252, 252, 0.295);
}

.profileDesc {
  padding: 20px 0;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    margin-top: 10px;
}

.triangle {
  position: absolute;
  display: block;
  float: right;
  right: 0;
}

.toLeft {
  top: 270px;
  width: 29.2825768668%;
  height: 100px;
  border-right: solid 650px rgba(252, 252, 252, 0.295);
  border-bottom: solid 300px transparent;
  border-top: solid 300px transparent;
}

.toRight {
  width: 29.2825768668%;
  height: 100px;
  border-left: solid 650px var(--background-rgb);
  border-bottom: solid 0px transparent;
  border-top: solid 300px transparent;
  z-index: 600;
  top: 570px;
}

.introBlock {
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 700;
}
.introParagraph {
  text-align: center;
    padding: 50px 50px 30px 50px;
}

.introParagraph p{
  font-size: 20px;
}

.hr {
  margin: 20px auto;
  border: 1px solid #d4d5d6
}

.techStack {
  display: grid;
    -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    align-items: center;
    grid-gap: 15px;
    padding: 40px 50px;
}

.iconBlock {
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 60px;
  padding: 10px;
}

.skillIcon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.skillIcon:hover {
  opacity: 0.8;
}

.html5 {
  color: #dd4b2d
}
.css3 {
  color: #006cb4
}

.js {
  color: #efd82b
}

.sass {
  color: #cf649a
}

.react {
  color: #61dafb
}

.gitHub {
  
  color: #000
}

.git {
  color: #E84D32
}

.bootstrap {
  color: #543D7C
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
} */

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

.projectIcons {
  color: rgba(252, 252, 252, 0.295);
}

.projectsWrapper {
  margin-bottom: 36px;
}
.eachProject {
  padding: 30px 0;
}

.projectName {
  font-size: 20px;
  padding: 0 0 10px 0;
}

.projectLink {
  font-size: 35px;
  text-decoration: none;
  color: #04b5ff;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}

.profileDesc {
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

.footerInfo {
  padding: 15px 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  padding: 15px;
  font-size: 14px;
}

.contact a {
  margin-left: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}
.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}
@media only screen and (max-width: 900px) {

.menu, .headerTools {
  float: none;
  margin: auto;
  width: max-content;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homepageTitle {
  padding: 0;
}

.triangle{
  display: none;
}

.profileImage {
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  border: 2px solid aliceblue;
  border-radius: 50%;
  clear: both;
  left: 0;
  top: 0;
  margin: auto;
  background-image: url(/image.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  
}

.profileImage img {
  display: none;
}

.profileName {
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
}

.profileName span  {
  display: inline;
}
.profileDesc {
  text-align: center;
  font-size: 15px;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  grid-template-columns: 1fr;
  margin-bottom: 120px;
  max-width: 80vw;
  text-align: center;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2.5rem;
}

.card h2 {
  margin-bottom: 0.5rem;
}

.hr {
  width: 100%
}

}

