.main {
  min-height: 100vh;
}

.header {
  width: 100%;
  padding: 50px 0;
}

.container {
  width: 920px;
  margin: auto;
}

.menu {
  list-style-type: none;
}

.pullLeft {
  float: left
}

.menu li {
  float: left;
}

.routeLink{
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
  transition: border-bottom 0.5s ease-in;
}

.routeLink.active {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.routeLink:hover {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.headerTools {
  padding: 15px;
  display: flex;
  gap: 0.5rem;
}

.pullRight {
  float: right;
}

.socialWrapper {
  display: block;
  background-color: #0a3477;
  cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-left: 3px;
}

.linkedin:hover {
  background-color: #0170ad
}

.instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.facebook:hover {
  background-color: #3b5998
}

.twitter:hover {
  background-color: #1da1f2
}

.github:hover {
  background-color: #000
}

.fixedWrapper {
  width: 100%;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.homepageTitle {
  width: 100%;
  position: relative;
  padding: 100px 0 0 0;
}

.profileImage {
  position: absolute;
  top: -20px;
  right: -40%;
  z-index: 400;
}

.profileImage img {
  height: 700px;
}

.profileName {
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
    font-size: 10rem;
    line-height: 116px;
}

.profileName span {
  display: block;
  color: rgba(252, 252, 252, 0.295);
  margin-top: 20px;
}

.profileDesc {
  padding: 20px 0;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    margin-top: 10px;
}

.triangle {
  position: absolute;
  display: block;
  float: right;
  right: 0;
}

.toLeft {
  top: 270px;
  width: 29.2825768668%;
  height: 100px;
  border-right: solid 650px rgba(252, 252, 252, 0.295);
  border-bottom: solid 300px transparent;
  border-top: solid 300px transparent;
}

.toRight {
  width: 29.2825768668%;
  height: 100px;
  border-left: solid 650px var(--background-rgb);
  border-bottom: solid 0px transparent;
  border-top: solid 300px transparent;
  z-index: 600;
  top: 570px;
}

.introBlock {
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 700;
}
.introParagraph {
  text-align: center;
    padding: 50px 50px 30px 50px;
}

.introParagraph p{
  font-size: 20px;
}

.hr {
  width: 100px;
  margin: 20px auto;
  border: 1px solid #d4d5d6
}

.techStack {
  display: grid;
    -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    align-items: center;
    grid-gap: 15px;
    padding: 40px 50px;
}

.iconBlock {
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 60px;
  padding: 10px;
}

.iconBlock:nth-child(6) {
  grid-column-start: 2; /* Second item starts at 2nd column */
  grid-column-end: 3; /* Second item ends at 3rd column */
}

.skillIcon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.skillIcon:hover {
  opacity: 0.8;
}

.html5 {
  color: #dd4b2d
}
.css3 {
  color: #006cb4
}

.js {
  color: #efd82b
}

.sass {
  color: #cf649a
}

.react {
  color: #61dafb
}

.gitHub {
  
  color: #000
}

.git {
  color: #E84D32
}

.bootstrap {
  color: #543D7C
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 900px) {

.menu, .headerTools {
  float: none;
  margin: auto;
  width: max-content;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homepageTitle {
  padding: 0;
}

.triangle{
  display: none;
}

.profileImage {
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  border: 2px solid aliceblue;
  border-radius: 50%;
  clear: both;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.profileName {
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
}

.profileName span  {
  display: inline;
}
.profileDesc {
  text-align: center;
  font-size: 15px;
}

}

