.workHeaderImgWrapper {
  overflow: hidden;
  filter: blur(0px) grayscale(0%);
  animation: fillColor 0.5s;
  animation-timing-function: ease;
  position: relative;
  max-width: 700px;
  width: 100%;
  flex-basis: 50%;
  background: radial-gradient(
    100% 100% at 50% 50%,
    rgba(173, 84, 228, 0.29) 2.55%,
    rgba(173, 84, 228, 0.29) 17.07%,
    rgba(136, 66, 183, 0.29) 24.96%,
    rgba(100, 49, 139, 0.29) 34%,
    rgba(69, 34, 101, 0.241) 43.45%,
    rgba(44, 21, 69, 0.128) 53.21%,
    rgba(25, 12, 45, 0.058) 63.36%,
    rgba(11, 5, 28, 0.02) 70.06%,
    rgba(7, 3, 23, 0.034) 75.69%,
    rgba(3, 1, 18, 0.017) 80.7%,
    rgba(0, 0, 15, 0) 100%
  );
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}

@keyframes fillColor {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}

.workHeaderImage {
  filter: drop-shadow(10px 15px 0.5rem #000);
  object-fit: contain;
}

.techStack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.iconBlock {
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 50px;
  padding: 10px;
  animation: showName 0.5s;
}

.skillIcon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.skillIcon:hover {
  opacity: 0.8;
}

.html5 {
  color: #dd4b2d;
}
.css3 {
  color: #006cb4;
}

.js {
  color: #efd82b;
}

.sass {
  color: #cf649a;
}

.react {
  color: #61dafb;
}

.gitHub {
  color: #fff;
}

.git {
  color: #e84d32;
}

.bootstrap {
  color: #543d7c;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.resumeContainer {
  position: relative;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.arrowBtnWrapper {
  margin-top: 16px;
  position: relative;
}

.arrowSvg {
  position: absolute;
  height: 50px;
  width: 50px;
  margin: 12px;
  left: 100%;
  top: 0%;
  transform: translateY(-30%) rotate(120deg);
}

@media only screen and (max-width: 900px) {
  .iconBlock {
    font-size: 30px;
  }
}
