.commonButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
    background-color: #0a3477;
    border: 0;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    color: var(--foreground-rgb);
  }
  
  .commonButton:hover {
    box-shadow: 0 0 0.5rem #ffffff70;
  }